.container
  .jumbotron
    .inner.cover
      %h1.cover-heading
        Samuels Tennisport
        %p.lead
          This app is designed to manage customers and track their rackets. Customers are alerted whenever a registered racket is due for a string change.
        %p.lead
          %a.btn.btn-lg.btn-default Coming Soon!

    .mastfoot
      .inner
        %p Samuels Tennisport #{Time.new.year} ©