.container
  .jumbotron
    %h2 Select Customer
    %ul
      - @customers.each do |customer|
        %li
          = link_to customer.email, customer_path(customer)

    = button_to "Add Customer", new_customer_path, method: :get