.container
  .jumbotron
    %h2 Select #{@customer.first_name}  #{@customer.last_name}'s Racket
    %ul
      - @rackets.each do |racket|
        %li
        = link_to racket.brand, racket_path(racket)
    = link_to "Add Racket", new_customer_racket_path(@customer.id)
