.container
  .jumbotron
    %h2 Add Strings
    = render 'stringsets/form' if @racket.stringsets.empty?
    - if @racket.stringsets
      %h4 Current Strings:
      = @racket.stringsets[0].brand
      / = render 'stringsets/form'